# ======= Python & Django =======
venv/
.venv/
__pycache__/
*.py[cod]
db.sqlite3
.env

# ======= Angular & Node =======
node_modules/
dist/
.angular/
coverage/

# ======= IDEs & OS Files =======
.vscode/
.idea/
.DS_Store
