.page1 {
    background: #374353;
    min-height: 680px;
    padding: 20px;
}

th,
td {
    padding: 14px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background: #f8f9fb;
    color: #444;
    font-weight: 600;
    border-bottom: 2px solid #eee;
}

tr:hover {
    background: #f4f7ff;
    transition: 0.2s;
}

.table-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    background: #5686a1;
    color: white;

    border-radius: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;

    position: relative;
    letter-spacing: 0.5px;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;

    background: #2563eb;
    transition: width 0.3s ease;
}

.title:hover::after {
    width: 100%;
}

button {
    background: #21a7ee;
    color: white;

    border: none;
    padding: 12px 18px;

    border-radius: 10px;
    cursor: pointer;

    font-weight: 600;

    box-shadow: 0 6px 15px rgba(37, 99, 235, 0.2);

    transition: 0.2s ease;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.98);
}


/* pop-up */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 0.2s ease-in-out;
}

.form-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.form-box h2 {
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: #333;
}

input {
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.2s ease;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.file-drop {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border: 2px dashed #bbb;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.2s ease;
    background: #fafafa;
    text-align: center;
}

.file-drop:hover {
    border-color: #4CAF50;
    background: #f0fff4;
    transform: scale(1.01);
}

.file-drop input {
    display: none;
}

.save-btn,
.cancel-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.save-btn {
    background: #4CAF50;
    color: white;
    margin-right: 5px;
}

.cancel-btn {
    background: #f44336;
    color: white;
}

.save-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}